In [1]:
import pandas as pd

In [2]:
csv_file = "Resources/CandidateSummaryAction1.csv"

In [3]:
df = pd.read_csv(csv_file)

In [12]:
df.columns

Index(['can_id', 'can_nam', 'can_off', 'can_off_sta', 'can_off_dis',
       'can_par_aff', 'can_inc_cha_ope_sea', 'can_str1', 'can_str2', 'can_cit',
       'can_sta', 'can_zip', 'ind_ite_con', 'ind_uni_con', 'ind_con',
       'par_com_con', 'oth_com_con', 'can_con', 'tot_con',
       'tra_fro_oth_aut_com', 'can_loa', 'oth_loa', 'tot_loa',
       'off_to_ope_exp', 'off_to_fun', 'off_to_leg_acc', 'oth_rec', 'tot_rec',
       'ope_exp', 'exe_leg_acc_dis', 'fun_dis', 'tra_to_oth_aut_com',
       'can_loa_rep', 'oth_loa_rep', 'tot_loa_rep', 'ind_ref', 'par_com_ref',
       'oth_com_ref', 'tot_con_ref', 'oth_dis', 'tot_dis',
       'cas_on_han_beg_of_per', 'cas_on_han_clo_of_per', 'net_con',
       'net_ope_exp', 'deb_owe_by_com', 'deb_owe_to_com', 'cov_sta_dat',
       'cov_end_dat', 'winner', 'votes'],
      dtype='object')

In [19]:
columns = ['can_id', 'can_nam', 'can_off', 'can_off_sta', 'can_off_dis','can_par_aff',
    'ind_ite_con', 'ind_uni_con', 'ind_con', 'tot_con','ope_exp', 'winner', 'votes']

In [20]:
new_df = pd.DataFrame(df, columns=columns)

In [29]:
new_df.loc[new_df['winner'] == 'Y'].sort_values('tot_con')

,can_id,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,ind_ite_con,ind_uni_con,ind_con,tot_con,ope_exp,winner,votes
28,H8OH05036,"LATTA, ROBERT EDWARD MR",H,OH,5.0,REP,"$353,475.97","$54,170.15","$407,646.12","$1,000,568.32","$384,642.27",Y,240036.0
157,H2MI05119,"KILDEE, DANIEL T.",H,MI,5.0,DEM,"$408,122.29",$0.14,"$408,122.43","$1,008,084.97","$398,747.99",Y,195076.0
105,H0PA10078,"MARINO, THOMAS ANTHONY",H,PA,10.0,REP,"$439,332.30","$46,865.54","$486,197.84","$1,010,652.71","$701,744.31",Y,208106.0
92,H6MD07160,"CUMMINGS, ELIJAH E",H,MD,7.0,DEM,"$406,853.15","$19,391.00","$426,244.15","$1,013,044.15","$554,722.65",Y,211962.0
128,H6MS01131,"KELLY, JOHN TRENT",H,MS,1.0,REP,"$499,620.92","$56,408.93","$556,029.85","$1,014,687.85","$771,977.17",Y,203142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,H8CA04152,"MCCLINTOCK, THOMAS",H,CA,4.0,REP,"$575,553.06","$301,515.49","$877,068.55","$995,363.00","$722,167.82",Y,196613.0
358,H2CA43245,"TAKANO, MARK",H,CA,41.0,DEM,"$613,695.92","$86,584.82","$700,280.74","$996,812.88","$596,311.08",Y,115859.0
244,H2MD02160,"RUPPERSBERGER, C.A. DUTCH",H,MD,2.0,DEM,"$416,902.00","$22,937.19","$439,839.19","$997,739.19","$717,979.04",Y,172324.0
169,H2TN07103,"KUSTOFF, DAVID",H,TN,8.0,REP,"$852,110.00","$24,121.00","$876,231.00","$998,531.00","$967,665.09",Y,193353.0
1250,H4PA13199,"BOYLE, BRENDAN F",H,PA,13.0,DEM,"$340,403.50","$14,690.29","$355,093.79","$999,124.24","$430,085.16",Y,NaN